{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 1,
        "@typescript-eslint/no-unused-vars": "error",
        "semi": [
            2,
            "never"
        ],
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["@modules", "./src/app/modules"],
                ["@src", "./src"],
                ["@services", "./src/app/services"],
            ]
        }
    }
}